@charset "UTF-8";

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-left: 10px; margin-right: 10px;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    height: 150px;
}






.rodape_receitas {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
}